.compose-list {
  display: flex;
  flex-direction: column;
}

.compose-list-item {
  margin: 1em 0;
  border: solid 1px CanvasText;

  display: flex;
  flex-direction: row;
}

.compose-list-item>.description {
  flex: 1 0 auto;
}

.compose-list-item>.delete-button {
  flex: 0 0 auto;
}

.compose-list-item>.compose-list-item-child {
  margin: 0.5em 0.5em;
}

.compose-list-item.compose-list-item-drop-target {
  padding-top: 3em;
}

.compose-list-item.compose-list-item-drag-source {
  height: 1em;
  visibility: hidden;
}